<h2>Add a computer</h2>
<form action="/computer" method="POST">
  <p>Name of your computer: <input type="text" name="name"></p>
  <p>Processor: <input type="text" name="processor"></p>
  <p>Processor speed in ghz:<input type="number" name="processor_speed"></p>
  <p>Graphics Card: <input type="text" name="graphics_card"></p>
  <input type="submit" value="submit">
</form>
