<!doctype html>
<html>
  <head>
    <title>Computer Comparer</title>
  </head>
  <body>
    <nav>
      <% if logged_in? %>
        <a href="/create">Create a New computer</a>
        <a href="/computers">All computers</a>
        <a href="/show">Your Computers</a>
        <a href="/logout">Log Out</a>

      <% else %>
        <a href="/signup">Sign Up</a>
        <a href="/login"> Sign In </a>
      <%end %>
    </nav>

    <%= yield %>

  </body>
</html>
